h1{
    color: white;
}

#userinfo2{
  padding: 340;
}

  .App {
    background: #000000;
    max-width: 100vw;
    max-height: 100vh;
    display: grid;
    grid-gap: 2rem;
    padding: 2rem;
    grid: 'h c '
          'h c '
          'h c ';
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 30px;
    padding: 50px;
    align-content: center;
  }
  
  .grid-container  {
    background-color: white;
    opacity: .9;
    text-align: center;
    padding: 0px 0 20;
    font-size: 30px;
  }
  
  .item1 {
    grid-row: 1 / span 2;
  }

  h3 {
    text-align: center;
  }
  
  
  .contact_container {
    padding: 12px 24px 24px 24px;
    margin: 48px 12px;
    background: white;
    opacity: .9;
    border-radius: 4px;
  }
  
 
  label {
    font-size: 0.85em;
    margin-left: 12px;
  }
  
  
  input[type=text],input[type=email], textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
  }
  
  
  input[type=text]:focus,input[type=email]:focus, textarea:focus {
    border: 1px solid green;
  }
  
  
  input[type=submit] {
    background: #64B5F6;
    margin: 0 auto;
    outline: 0;
    color: white;
    border: 0;
    padding: 12px 24px;
    border-radius: 4px;
    transition: all ease-in-out 0.1s;
    position: relative;
    display: inline-block;
    text-align: center;
  }
  
  
  input[type=submit]:focus {
    background: #A5D6A7;
    color: whitesmoke;
  }
  
  
  input[type=submit]:hover {
    background: #2196F3;
  }
  
  /* Align items to center of the 'div' with the class 'center' */
  .center {
    text-align: center;
  }