h1{
    color: white;
}

#userinfo2{
  padding: 340;
}

  .App {
    background: #000000;
    max-width: 100vw;
    max-height: 100vh;
    display: grid;
    grid-gap: 2rem;
    padding: 2rem;
    grid: 'h c '
          'h c '
          'h c ';
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 30px;
    padding: 50px;
    align-content: center;
  }
  
  .grid-container  {
    background-color: white;
    opacity: .9;
    text-align: center;
    padding: 0px 0 20;
    font-size: 30px;
  }
  
  .item1 {
    grid-row: 1 / span 2;
  }